absl-py==1.4.0
array-record==0.5.1
astunparse==1.6.3
black==24.8.0
bleach==6.1.0
cachetools==5.5.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.1.0
colorama==0.4.6
contourpy==1.3.0
cycler==0.12.1
Cython==3.0.11
dm-tree==0.1.8
docker-pycreds==0.4.0
etils==1.5.2
Farama-Notifications==0.0.4
filelock==3.16.0
flatbuffers==24.3.25
fonttools==4.53.1
fsspec==2024.9.0
gast==0.6.0
gin-config==0.5.0
gitdb==4.0.11
GitPython==3.1.43
glfw==2.8.0
google-api-core==2.19.2
google-api-python-client==2.145.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
googleapis-common-protos==1.63.1
grpcio==1.66.1
gymnasium==1.0.0
gymnasium-robotics==1.3.1
h5py==3.11.0
httplib2==0.22.0
huggingface-hub==0.24.7
idna==3.10
imageio==2.36.1
importlib-metadata==8.5.0
importlib-resources==6.4.5
jinja2==3.1.4
joblib==1.4.2
kaggle==1.6.17
keras==2.8.0
Keras-Preprocessing==1.1.2
kiwisolver==1.4.7
libclang==18.1.1
lxml==5.3.0
Markdown==3.3.4
MarkupSafe==2.1.5
matplotlib==3.9.2
mujoco==3.1.6
mypy-extensions==1.0.0
nltk==3.9.1
numpy==1.25.2
oauth2client==4.1.3
oauthlib==3.2.2
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
opt-einsum==3.3.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pcfg==0.1.0
pettingzoo==1.24.3
pillow==10.4.0
platformdirs==4.3.3
portalocker==2.10.1
promise==2.3
proto-plus==1.24.0
protobuf==3.19.6
psutil==6.0.0
py-cpuinfo==9.0.0
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycocotools==2.0.8
PyOpenGL==3.1.7
pyparsing==3.1.4
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytz==2024.2
PyYAML==5.4.1
regex==2024.9.11
requests==2.32.3
requests-oauthlib==2.0.0
rsa==4.9
sacrebleu==2.4.3
sacremoses==0.1.1
scikit-learn==0.24.1
scipy==1.9.2
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.14.0
seqeval==1.2.2
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
tabulate==0.9.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.4
tensorflow-addons==0.23.0
tensorflow-datasets==4.9.0
tensorflow-estimator==2.8.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.13.0
tensorflow-model-optimization==0.8.0
tensorflow-text==2.8.2
termcolor==2.4.0
text-unidecode==1.3
tf-keras==2.15.0
tf-models-official==2.8.0
tf-slim==1.1.0
threadpoolctl==3.5.0
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.2
tqdm==4.66.5
transformers==4.18.0
typeguard==2.13.3
typing-extensions==4.12.2
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.3
wandb==0.17.5
webencodings==0.5.1
werkzeug==3.0.4
wrapt==1.16.0
zipp==3.20.2
